header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--border-color);
    padding: 8px 16px 0 16px;
    background-color: var(--background-color);
    svg {
        display: inline-block !important;
    }
    input {
        border: 0;
        width: 80%;
        padding: 0.5rem 1rem;
    }
    .logo {
        display: none;
        width: auto;
        margin-right: 2rem;
    }
}
.header-filter-container {
    display: flex;
    gap: 8px;
    align-items: center;
}
.header-search {
    flex: 1;
    padding: 8px 16px;
    box-shadow: var(--border-color) -1px 3px 34px -13px;
    border-radius: 100px;
    background-color: #fff;
}
.header-filters {
    height: 41.45px;
    aspect-ratio: 1;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-color: var(--border-color);
}
.header-options {
    display: flex;
    flex: nowrap;
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
    gap: 16px;
}
.header-option {
    display: flex;
    flex-direction: column;
}