@import "variables";
@import "mixins";

.projects {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project {
    @include card;
    display: flex;
    background-color: $background-color;
    padding: 1rem;
    gap: 16px;
    align-items: flex-start;
    &__image {
        width: 200px;
    }
    &__title {
        color: $primary;
        &:hover {
            color: $primary-active;
        }
    }
    &__description {
        font-style: italic;
    }
    &__cta {
        display: block;
        width: 100%;
        padding: 8px 16px;
        border: none;

        background-color: aqua;
        color: #fff;
        font-weight: 700;
        &:hover {
            background-color: orange;
        }
    }
    &--dark {
        background-color: #222;
        color: #fff;
    }
    & .project__cta {
        background-color: #fff;
        &:hover {
            background-color: red;
        }
    }
    @media screen and (max-width: $breakpoints-sm) {
        flex-direction: column;
    }
}